// User variables:
$accent: orange;
$text: #000;
$blue: #69c2d5;
$orange: #FECB33;

// Colors
$color-1: #303850;
$color-2: #ff4648;
$color-3: #3ea7c7;
$color-4: #A5ADB1;

$gray: #A5ADB1;
$viob: #4F79A4;
$blue: #B7E6FF;

// Max-width
$notebook: 1024px;
$tablet: 768px;
$mobile: 480px;
$mobile-sm: 320px;

